body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-modal .ant-modal-title,
.ant-modal .ant-modal-footer,
.ant-modal .ant-modal-body {
  text-align: center;
}

.ant-modal .ant-modal-footer div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-left: 31%;
  padding-right: 31%;
}


