.product-page__title {
    color: #fff;
    font-size: 39px;
    line-height: 46px;
}

.product-info {
    padding-left: 50px;
    padding-right: 50px;
}

.product-info h2 {
    padding-top: 10px;
}

.product-page__img-container {
    min-width: 300px;
    min-height: 300px;
    max-width: 600px;
    max-height: 600px;
    text-align: center;
    border: 1px solid #323232;
}

.product-page__img--404 {
    margin-top: 20px;
    display: inline-block;
    vertical-align: middle;
}

.product-page__price-title {
    font-size: 25px;
    line-height: 30px;
    color: darkblue;
}

.product-page__price {
    font-size: 20px;
    line-height: 25px;
    color: #323232;
}
